---
title: "Team"
layout: default
excerpt: "MaP Lab: Team members"
sitemap: false
permalink: /team/
---

<!-- Senior Researchers -->

<h2><a id="Senior Researchers"></a> <b>Senior Researchers</b></h2>
{% assign members = site.posts | where: 'category', 'senior' | sort: 'date' %}
{% for member in members %}
<div class="row">
    <div class="col-md-3">
        <div class="card team-member-card">
            <div class="row mt-3">
                <div class="col-md-15 d-flex justify-content-center">
                    <a href={{member.url}}>
                        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                            class="card-img img-responsive img-thumbnail"
                            style="filter: grayscale(0%); max-width: 180px; display: block; margin: 0 auto;"/>
                    </a>
                </div>
                <div class="col-md-15">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ member.title }}</h4>
                        <p class="card-text">{{ member.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<!-- Postdocs -->
<h2><a id="Postdocs"></a><b>Postdocs</b></h2>
{% assign members = site.posts | where: 'category', 'postdoc' | sort: 'date' %}
<div class="row">
    {% for member in members %}
    <div class="col-md-3">
        <div class="card team-member-card">
            <div class="row mt-3">
                <div class="col-md-15 d-flex justify-content-center">
                    <a href={{member.url}}>
                        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                            class="card-img img-responsive img-thumbnail"
                            style="filter: grayscale(0%); max-width: 180px; display: block; margin: 0 auto;"/>
                    </a>
                </div>
                <div class="col-md-15">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ member.title }}</h4>
                        <p class="card-text">{{ member.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>


<!-- Students -->
<h2><a id="student"></a><b>Students</b></h2>
{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
<div class="row">
    {% for member in members %}
    <div class="col-md-3">
        <div class="card team-member-card">
            <div class="row mt-3">
                <div class="col-md-15 d-flex justify-content-center">
                    <a href={{member.url}}>
                        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                            class="card-img img-responsive img-thumbnail"
                            style="filter: grayscale(0%); max-width: 180px; display: block; margin: 0 auto;"/>
                    </a>
                </div>
                <div class="col-md-15">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ member.title }}</h4>
                        <p class="card-text">{{ member.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

