<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/footer_logo.png"
				     style="max-width: 300px;">
			</div>

			<div class="col-sm-3">
				<p><b>DRCMR:</b></p>
					<p>Nordre Hospitalsvej 13 </br> 2650 Hvidovre </br> Captial Region of Denmark </p> 
					<a href="https://drcmr.dk">DRCMR Main Website</a>
					<p><u>Contact:</u> <a href="mailto: timd@drcmr.dk">timd@drcmr.dk</a></p>
			</div>

			<div class="col-sm-3">
				<p><b>DTU Compute:</b></p>
					<p> Bygning 324 </br> 2800 Kongens Lyngby </br> Captial Region of Denmark </p>
					<a href="https://www.compute.dtu.dk/">DTU Compute Main Website</a> </br> 
					<p><u>Contact:</u> <a href="mailto: tbdy@dtu.dk">tbdy@dtu.dk</a></p>
			</div>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
